
// Calendar day events rules
$event-max-size: 200px;
$event-background-color: #E2ECF5;
$event-border-color: #6E9ECF;
$event-font-family: "Open Sans";

$event-time-font-weight: 200;
$event-time-font-size-large: 16px;
$event-time-font-size-small: 12px;


